* {
    margin: 0;
    padding: 0;
}

body {
    overflow-y: hidden;
    overflow-x: scroll;
    transition: 1s;
}

.backgrounds {
    display: flex;
    width: fit-content;
    height: fit-content;
    margin-top: 100vh;
    translate: 0 -100%;
}

.slide {
    position: relative;
    font-size: calc(100vw / 165);
}

.plane {
    position: fixed;
    font-size: calc(100vw / 150);
    width: fit-content;
    height: fit-content;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    animation: planeMovement 5s forwards infinite linear paused;
}
@keyframes planeMovement {
    0% {
        translate: -50% -50%;
    }
    30% {
        translate: -55% -50%;
    }
    60% {
        translate: -45% -50%;
    }
    100% {
        translate: -50% -50%;
    }
}

.distance {
    position: fixed;
    font-size: 1.5vw;
    top: 0;
    left: 0;
    font-family: sans-serif;
    margin-left: 20px;
}

.title {
    position: absolute;
    font-size: 12vw;
    width: 100vw;
    height: fit-content;
    font-family: sans-serif;
    top: 40%;
    translate: 0 -50%;
    text-align: center;
    opacity: 0.05;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}
.sub-title {
    position: absolute;
    font-size: 1.5vw;
    width: 100vw;
    height: fit-content;
    font-family: sans-serif;
    top: calc(40% + 6vw);
    translate: 0 -50%;
    text-align: center;
    opacity: 0.1;
    font-weight: bold;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.menu-icon {
    position: fixed;
    top: 0;
    right: 0;
    width: 3vw;
    aspect-ratio: 1/1;
    stroke: rgb(70, 70, 70);
    margin: 1%;
    cursor: pointer;
    transition: 1s;
    z-index: 1000;
}
.menu-icon:hover { filter: brightness(60%) }

.menu-screen {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    translate: -150%;
    border-right: 2px solid gray;
    background-color: rgb(240, 240, 240);
    z-index: 999;
    transition: 5s linear;
}
.menu {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 999;
}
.menu-plane {
    position: fixed;
    right: 5%;
    top: 50%;
    width: 100vw;
    translate: -100% -50%;
    transition: 5s linear;
    font-weight: bold;
    font-size: calc(100vw / 130);
}